<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <title>Your Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="navbar">
                <nav>
                    <h1>PUNE PATHFINDER</h1>
                    <ul>
                        <a href="/destination/"><li>Home</li></a>
                        <li>Hi {{ request.user.username }} !</li>
                        <a href="/dashboard/"><li>Dashboard</li></a>
                        <li>
                            {% if request.user.is_authenticated %}
                                <a href="/logout/">Logout</a>
                            {%else%}
                                <a href="/login/">Login</a>
                            {%endif%}
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Saved Destinations Section -->
        <div class="saved-destinations">
            <h2>Your Saved Destinations</h2>
            {% if saved_destinations %}
            {% for d in saved_destinations %}
            <table>
              
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="image">
                        <img src="/media/{{d.dest_image}}" alt="">
                    </td>
                    <td>
                        <h1>{{d.dest_title}}</h1>
                    </td>
                    <td class="description">
                        <h3>{{d.dest_desc}}</h3>
                    </td>
                    
                </tr>
            </table>
            {% endfor %}
            {% else %}
            <p>You Haven't saved any destinations yet.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
